.env
.vscode
.idea
.venv
venv
vm
*.pyc
*.egg-info
__pycache__
.ebextensions
.spyproject
node_modules
bak
baks
logs
myTestes
myHelpers
conf
.requirements.txt.bak
USE.INFO
templates/src
dabolinux-clients-demo-32103b022bf6.json
MANIFEST
build
dist
docs/_build
docs/_static
npm-debug.log
setup.cfg
pyproject.toml
media
