<html>

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags always come first -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="keywords" content="DaboLinux Technologies" />
        <meta name="author" content="DaboLinux Technologies">
        <title>{{subject}}</title>
    </head>
    <body>

        <b>Dear {{details.fullname}} ({{details.username}})</b>,
        <p>
            You have requested for a Password Reset on KEDCO Central Repo.
            Kindly use the Token below to reset your password
        </p>
        <p>
            Token:- {{details.token}} <br />
            Token Status:- {{details.active}}
        </p>
        <p>
            If you Do Not Request This, Kindly Disregard this email.

            Thank You
        </p>
        <p>
            ******************** <br />
            {{signature}}
        </p>
    </body>
</html>